    #MyValidateForm{
        text-align: center;
      /* width: 350px; */
      display: flex;
      flex-direction: column;
      -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    #MyValidateForm input{
      margin-bottom: 10px;
      box-sizing: border-box;
      padding: 10px 20px;
    }
    .error{
        border: 1px solid red;
    }
    .OK{
        border: 1px solid green;
    }
